/.idea
/.vscode
/BOOKS.txt
/books_data.txt
/calculator.c
/calculator.exe
/clients_data
/cursor.c
/cursor.exe
/dynamicstruct.c
/dynamicstruct.exe
/ex struct.c
/example.txt
/functions1.c
/functions1.exe
/geometry1.c
/geometry1.exe
/max.c
/max.exe
/NUMGEUSS.c
/NUMGEUSS.exe
/pointers.c
/pointers.exe
/pointerTable.c
/pointerTable.exe
/Project.exe
/QueueLL.c
/QueueLL.exe
/quizgame.exe
/RechercheTabPointer.c
/RechercheTabPointer.exe
/redingstringswithspacesusingscanf.c
/redingstringswithspacesusingscanf.exe
/stackLL.c
/stackLL.exe
/strings.c
/strings.exe
/struct.c
/struct.exe
/StructApp.c
/StructApp.exe
/stuctTrial.c
/table.c
/table.exe
/task.txt
/taskapp2.c
/taskapp2.exe
/TasksApp.c
/TasksApp.exe
/td5.c
/td5.exe
/temp.exe
/tempCodeRunnerFile.c
/tempCodeRunnerFile.cpp
/tempCodeRunnerFile.exe
/tempCodeRunnerFile.python
/temperature.c
/temperature.exe
/test.exe
/turt.py
/url.py
/zaboun.txt
/zaboun_data.txt